{% extends 'share_layout/base.html' %}
{% load blog_tags %}
{% load cache %}
{% block header %}

<title>文章归档 | {{ SITE_DESCRIPTION }}</title>

<meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
<meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
<meta property="og:type" content="blog"/>
<meta property="og:title" content="{{ SITE_NAME }}"/>
<meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
<meta property="og:url" content="{{ SITE_BASE_URL }}"/>
<meta property="og:site_name" content="{{ SITE_NAME }}"/>
{% endblock %}
{% block content %}
<div id="primary" class="site-content">
<div id="content" role="main" style="background-color: #fff; color: #333; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">

        <header class="archive-header">

            <p class="archive-title" style="font-size: 30px; font-weight: bold;">文章归档</p>
        </header><!-- .archive-header -->

        <div class="entry-content" style="font-size: 12px; line-height: 1.5em;">

            {% regroup article_list by pub_time.year as year_post_group %}
            <ul>
                {% for year in year_post_group %}
                    <li style="margin-bottom: 10px;">{{ year.grouper }} 年
                        {% regroup year.list by pub_time.month as month_post_group %}
                        <ul>
                            {% for month in month_post_group %}
                                <li style="margin-bottom: 5px;">{{ month.grouper }} 月
                                    <ul>
                                        {% for article in month.list %}
                                            <li style="margin-bottom: 2px;"><a href="{{ article.get_absolute_url }}" style="text-decoration: none; color: #666;">{{ article.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div><!-- #content -->
</div><!-- #primary -->
{% endblock %}

{% block sidebar %}
{% load_sidebar user 'i' %}
{% endblock %}


